#pluginchiefmsb-wrapper{
	float: left;
	width:100%;	
	min-height: 800px;
}

#pluginchiefmsb-wrapper .one_half { width: 48%; }
#pluginchiefmsb-wrapper .one_third { width: 30.66%; }
#pluginchiefmsb-wrapper .two_third { width: 65.33%; }
#pluginchiefmsb-wrapper .one_fourth { width: 22%; }
#pluginchiefmsb-wrapper .three_fourth { width: 74%; }
#pluginchiefmsb-wrapper .one_fifth { width: 16.8%; }
#pluginchiefmsb-wrapper .two_fifth { width: 37.6%; }
#pluginchiefmsb-wrapper .three_fifth { width: 58.4%; }
#pluginchiefmsb-wrapper .four_fifth { width: 67.2%; }
#pluginchiefmsb-wrapper .one_sixth { width: 13.33%; }
#pluginchiefmsb-wrapper .five_sixth { width: 82.67%; }

#pluginchiefmsb-wrapper .one_half,
#pluginchiefmsb-wrapper .one_third,
#pluginchiefmsb-wrapper .two_third,
#pluginchiefmsb-wrapper .three_fourth,
#pluginchiefmsb-wrapper .one_fourth,
#pluginchiefmsb-wrapper .one_fifth,
#pluginchiefmsb-wrapper .two_fifth,
#pluginchiefmsb-wrapper .three_fifth,
#pluginchiefmsb-wrapper .four_fifth,
#pluginchiefmsb-wrapper .one_sixth,
#pluginchiefmsb-wrapper .five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

#pluginchiefmsb-wrapper .column img{
	max-width: 100%;
	height: auto;
	display: block;	
}

#pluginchiefmsb-wrapper .iphone-preview{
	width: 335px;
	height: auto;
}

#pluginchiefmsb-wrapper .iphone-preview img{
	width: 100%;
	height: auto;
}

#pluginchiefmsb-wrapper .preview-site{
	position: absolute;
	top: 100px;
	left: 53px;
}

#pluginchiefmsb-wrapper .mobile-preview-loader{
	background: #EAEAEA url(../images/ajax-loader.gif) center center no-repeat;
	width: 100px;
	height: 100px;
	border: 1px solid #CCC;
	position: absolute;
	top: 80px;
	left: 64px;
	display: none;
}

#pluginchiefmsb-wrapper .column-last {
	margin-right: 0!important;
	clear: right;
}

#pluginchiefmsb-wrapper .floatr{
	float: right;
}

#pluginchiefmsb-wrapper .floatl{
	float: left;
}

#pluginchiefmsb-wrapper .clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

#pluginchiefmsb-wrapper .pluginchiefmsb-wrap{
	padding: 10px 30px 30px 10px;
}

#pluginchiefmsb-wrapper .pluginchiefmsb-wrap .widget {
	float: left;
	width: 100%;
	margin: 0 1.65% 15px 0;
	border: 1px solid  #DFDFDF;
}

#pluginchiefmsb-wrapper .pluginchiefmsb-wrap .widget-top {
	height: auto;
	cursor: default;
}
#pluginchiefmsb-wrapper .pluginchiefmsb-wrap .widget-title {
	cursor: default;
	padding: 0;
}
#pluginchiefmsb-wrapper .pluginchiefmsb-wrap .widget-title h4 {
	padding: 7px 2px 7px 9px;
	line-height: 1.1;
}
#pluginchiefmsb-wrapper .pluginchiefmsb-wrap .widget-title h4 {
	line-height: 1.1;
}
#pluginchiefmsb-wrapper .pluginchiefmsb-wrap .widget .module-inside {
	padding: 2%;
	float: left;
	width: 96%;
}

#pluginchiefmsb-wrapper hr{
	border-bottom: 1px solid  #DFDFDF;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
}

#sites-list{
	margin-top: 20px;
}

#pluginchiefmsb-wrapper .section-title{
	margin: 0.4em 0px;
}

#pluginchiefmsb-wrapper .no-mobile-site-notice {
background: #EAEAEA;
padding: 10px 10px 20px 10px;
border: 1px solid  #DFDFDF;
}

#pluginchiefmsb-wrapper .no-mobile-site-notice h3, #pluginchiefmsb-wrapper .no-mobile-site-notice h1{
	text-align: center;
}

#pluginchiefmsb-wrapper .no-mobile-site-notice .button-primary{
	display: block;
	margin: 0px auto;
	float: none;
	width: 90px;
}

#pluginchiefmsb-wrapper .page-section{
	background: #eaeaea;
	margin-bottom: 10px;
	border: 1px dashed #ccc;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 99%;
	padding: 20px 0px 20px 0px;
}

#pluginchiefmsb-wrapper .page-section h2{
	text-align: center;
}

#pluginchiefmsb-wrapper .page-section .controls-wrapper{
		
}

#pluginchiefmsb-wrapper .page-section .controls{
	width: 100%;
	float: left;
}

#pluginchiefmsb-wrapper .page-section .controls .element-control{
	float: left;
	height: 30px;
	width: 30px;
	background-size: 100% 100%!important;
}

#pluginchiefmsb-wrapper .page-section .controls .element-move{
	background: url(../images/element-icons/element-move.png) center center no-repeat;
	cursor: move;
}

#pluginchiefmsb-wrapper .page-section .controls .element-remove{
	background: url(../images/element-icons/element-cross.png) center center no-repeat;
	cursor: move;
}

#pluginchiefmsb-wrapper .page-section .nested-sortable{
	min-height: 50px;
	background: #ccc;
	border: 1px dashed #444;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	float: left;
}

#pluginchiefmsb-wrapper .page-element{
	background: white url(../images/bottom-gradient.jpg) bottom center repeat-x;
	margin-bottom: 10px;
	border-left: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 99%;
}

#pluginchiefmsb-wrapper .page-element .settings-bar{	
	float: left;
	background: #C8C8C8;
	height: 49px;
	padding: 1px;
	margin: -1px -1px 0;
	z-index: 30;
	width: 100%;
	position: relative;
	-o-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-o-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-o-border-bottom-left-radius: 1px;
	-moz-border-bottom-left-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
	border-bottom-left-radius: 1px;
	-o-border-bottom-right-radius: 1px;
	-moz-border-bottom-right-radius: 1px;
	-webkit-border-bottom-right-radius: 1px;
	border-bottom-right-radius: 1px;
	background-image: -webkit-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: -moz-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: -o-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: -ms-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: linear-gradient(top, #E0E0E0, #C8C8C8);
	padding: 0px;
	margin: 0px;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar{
	height: 49px;
	border: 1px solid #B2B2B2;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D4D4D4;
	background-image: -webkit-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: -moz-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: -o-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: -ms-linear-gradient(top, #E0E0E0, #C8C8C8);
	background-image: linear-gradient(top, #E0E0E0, #C8C8C8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px #F4F4F4, inset 0 -1px #B3B3B3, 0 1px 3px #DDD;
	-moz-box-shadow: inset 0 1px #f4f4f4, inset 0 -1px #b3b3b3, 0 1px 3px #ddd;
	box-shadow: inset 0 1px #F4F4F4, inset 0 -1px #B3B3B3, 0 1px 3px #DDD;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar .element-info{
	float: left;
	padding: 15px 0px 15px 10px;
	color: black;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar .controls{
	float: right;
	padding: 10px;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar .controls .element-control {
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 10px;
	background-size: 100% 100%!important;
}

#pluginchiefmsb-wrapper .page-element .content{
	padding: 4%;
	display: none;
	float: left;
	width: 92%;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar .controls .element-move {
	background: url(../images/element-icons/element-move.png) center center no-repeat;
	cursor: move;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar .controls .element-open {
	background: url(../images/element-icons/element-tools.png) center center no-repeat;
}

#pluginchiefmsb-wrapper .page-element .settings-bar .inner-settings-bar .controls .element-remove {
	background: url(../images/element-icons/element-cross.png) center center no-repeat;
}

#pluginchiefmsb-wrapper .element-placeholder{
	background: #eaeaea;
	border: 1px dashed #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 10px;
	float: left;
	position: relative;
	display: block;
	width: 94%;
	height: 40px;
	padding: 3%;
}

#pluginchiefmsb-wrapper .fixed{
	position: fixed;
	top: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*	jQuery Confirm Box
/*-----------------------------------------------------------------------------------*/

#confirmOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background: url('../images/ie.png');
	background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
	z-index:100000;
}
#confirmBox{
	background: url('../images/bottom-gradient.jpg') repeat-x left bottom #eaeaea;
	width:460px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-130px 0 0 -230px;
	border: 1px solid rgba(33, 33, 33, 0.6);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}
#confirmBox h1,
#confirmBox p{
	padding: 18px 25px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	color:#666;
	text-align: center;
}
#confirmBox h1{
	letter-spacing:0.3px;
	color:#888;
	font-size: 30px;
}
#confirmBox p{
	background:none;
	font-size:16px;
	line-height:1.4;
	padding-top: 35px;
}
#confirmButtons{
	padding: 0px 0 25px;
	text-align: center;
	width: 152px;
	margin: 0px auto 30px;
}
#confirmBox .button{
	display:inline-block;
	background: url('../images/buttons.png') no-repeat;
	color:#fff!important;
	position:relative;
	height: 33px;
	margin-right: 15px;
	padding: 0 35px 0 35px;
	text-decoration:none;
	border:none;
	line-height: 32px;
}
#confirmBox .button:last-child{	
	margin-right:0;
}
#confirmBox .button-primary{
	margin: 0px 5px;
}

/*-----------------------------------------------------------------------------------*/
/* VZMSB Options
/*-----------------------------------------------------------------------------------*/

.pluginchiefmsb-options-header{
	clear: both;
	height: auto;
	background: #F1F1F1;
	box-shadow: 0 1px 0 
	rgba(255, 255, 255, 0.8) inset;
	-webkit-box-shadow: 0 1px 0 
	rgba(255, 255, 255, 0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #E3E3E3;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	width: 100%;
}

.pluginchiefmsb-options-header .pluginchiefmsb-options-header-inside{
	padding: 5px 15px;
}

.pluginchiefmsb-options-header-inside .one_half{
	margin-bottom: 0px;
}

.pluginchiefmsb-options-header-inside .button-primary{
	margin-top: 10px;
}

.pluginchiefmsb-options-body{
	clear: both;
	background: #F1F1F1;
	height: auto;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #E3E3E3;
	border-bottom: 0px;
	border-top: 0px;
	min-height: 30px;
	width: 100%;
	float: left;	
}

.pluginchiefmsb-options-menu{
	width: 20%;
	background: #F1F1F1;
	min-height: 30px;
	float: left;
}
.pluginchiefmsb-options-menu ul{
	list-style: none;
}
.pluginchiefmsb-options-menu ul li{
	list-style: none;
	width: 100%;
	text-align: right;
	float: left;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: -1px;
}
.pluginchiefmsb-options-menu ul li:hover{
	background: #fff;
}
.pluginchiefmsb-options-menu ul .active{
	background: #fff;
}
.pluginchiefmsb-options-menu ul li a{
	padding: 10px;
	float: right;
	text-align: right;
	color: #21759B;
}
.pluginchiefmsb-options-menu ul li a:hover{
	color: #21759B;
}

.pluginchiefmsb-options-menu ul li span{
	height: 20px;
	width: 20px;
	margin: 8px 5px 0px 5px;
	float: left;
}
.pluginchiefmsb-options-content{
	float: left;
	min-height: 500px;
	width: 80%;
	background: #fff;
}

.pluginchiefmsb-options-content-inside{
	padding: 20px;
}

.pluginchiefmsb-options-content-inside .settings-page-element{
	padding: 10px;
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: 10px;
}

.pluginchiefmsb-options-content-inside .settings-page-element h6{
	margin-top: 0px;
	font-style: italic;
	color: #999;
	font-size: 10px;
	font-weight: normal;
}

.pluginchiefmsb-options-footer{
	clear: both;
	height: auto;
	background: #F1F1F1;
	box-shadow: 0 1px 0 
	rgba(255, 255, 255, 0.8) inset;
	-webkit-box-shadow: 0 1px 0 
	rgba(255, 255, 255, 0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #E3E3E3;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	width: 100%;
}

.pluginchiefmsb-options-footer .pluginchiefmsb-options-footer-inside{
	padding: 5px 15px;
}

.pluginchiefmsb-options-footer-inside .one_half{
	margin-bottom: 0px;
}

.pluginchiefmsb-options-footer-inside .button-primary{
	margin-top: 10px;
}

/* reset --------------------------------- */
.elementmenu, .elementmenu ul {
	margin:0;
	padding:0;
	list-style:none;
}
/* --------------------------------------- */
.elementmenu li, .elementmenu ul a, .elementmenu ul li a {position:relative; margin: 0px; z-index: 100;}
.elementmenu > li {float:left;}
.elementmenu > li.floatr {float:right;}
.elementmenu li > a {display:block;}
/* --------------------------------------- */
.elementmenu ul {
	position:absolute;
	display:none;
	width:125px;
}
.elementmenu ul ul {
	top:0;
	left:125px;
	z-index: 100;
}
.elementmenu > li.floatr > ul {right:0;}
.elementmenu > li.floatr > ul ul {left:-125px;}
.elementmenu li:hover > ul {display:block;}
/* mega elementmenu ----------------------------- */
.elementmenu .cols1, .elementmenu .cols2, .elementmenu .cols3, .elementmenu .cols4, .elementmenu .cols5 {
	position:absolute;
	display:none;
	overflow:auto;
}
.elementmenu .cols1, .elementmenu .col1 {width:160px;}
.elementmenu .cols2, .elementmenu .col2 {width:320px;}
.elementmenu .cols3, .elementmenu .col3 {width:480px;}
.elementmenu .cols4, .elementmenu .col4 {width:640px;}
.elementmenu .cols5, .elementmenu .col5 {width:800px;}
.elementmenu > li.floatr > div {right:0;}
.elementmenu > li:hover > div {display:block;}
.elementmenu .col1, .elementmenu .col2, .elementmenu .col3, .elementmenu .col4, .elementmenu .col5 {float:left;}

.sgray {
	/*height:32px;*/
	border:1px solid #b2b2b2;
	font-family:Arial, Helvetica, sans-serif;
	float: left;
	width: 100%;
	
	background-color:#d4d4d4;
	background-image:-webkit-linear-gradient(top, #e0e0e0, #c8c8c8);
	background-image:-moz-linear-gradient(top, #e0e0e0, #c8c8c8);
	background-image:-o-linear-gradient(top, #e0e0e0, #c8c8c8);
	background-image:-ms-linear-gradient(top, #e0e0e0, #c8c8c8);
	background-image:linear-gradient(top, #e0e0e0, #c8c8c8);
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	-webkit-box-shadow:inset 0 1px #f4f4f4, inset 0 -1px #b3b3b3, 0 1px 3px #ddd;
	-moz-box-shadow:inset 0 1px #f4f4f4, inset 0 -1px #b3b3b3, 0 1px 3px #ddd;
	box-shadow:inset 0 1px #f4f4f4, inset 0 -1px #b3b3b3, 0 1px 3px #ddd;
}

.sgray a {text-decoration:none;}

.sgray > li > a {
	color:#444;
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	text-shadow:0 1px #f8f8f8;
	padding:8px 12px 8px;
}

.sgray > li > p {
	color:#444;
	font-weight:bold;
	font-size:12px;
	line-height:16px;
	text-shadow:0 1px #f8f8f8;
	padding:8px 12px 8px;
	margin: 0px;
}

.sgray > li:hover > a {
	background-color:#fff;
	background-image:-webkit-linear-gradient(top, #f5f5f5, #fff);
	background-image:-moz-linear-gradient(top, #f5f5f5, #fff);
	background-image:-o-linear-gradient(top, #f5f5f5, #fff);
	background-image:-ms-linear-gradient(top, #f5f5f5, #fff);
	background-image:linear-gradient(top, #f5f5f5, #fff);
	
	-webkit-box-shadow:inset 0 3px #eee;
	-moz-box-shadow:inset 0 3px #eee;
	box-shadow:inset 0 3px #eee;
	
	border-left:none;
	padding-left:13px;
}

.sgray > li {border-right:1px solid #bbb;border-right:1px solid rgba(10, 10, 10, .1);}
.sgray > li > a {border-left:1px solid #e3e3e3;border-left:1px solid rgba(255, 255, 255, .35);}
.sgray > li.floatr {
	border-right:none;
	border-left:1px solid #bbb;
	border-left:1px solid rgba(10, 10, 10, .1);
}

.sgray > li > a images, .sgray li > ul > li > a images {
	border:0;
	margin-right:5px;
}

/* notification bubbles ------------------ */

.sgray > li > a .bubble, .sgray li > a .bubble-alt {
	font-size:11px;
	line-height:11px;
	padding:1px 4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-left:7px;
	position:relative;
	top:-1px;
}
.sgray > li > a .bubble {
	color:#fff;
	background-color:#df0a0a;
	text-shadow:0 1px #9d0707;
	
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px #f1f1f1;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px #f1f1f1;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px #f1f1f1;
}
.sgray > li > a .bubble-alt {
	color:#fff;
	background-color:#737373;
	text-shadow:0 1px #505050;
	
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px #f1f1f1;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px #f1f1f1;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .4), 0 1px #f1f1f1;
}
.sgray > li:hover > a .bubble {
	text-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.sgray ul > li .bubble {
	font-size:11px;
	line-height:14px;
	padding:1px 4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#fff;
	color:#777;
	border:1px solid #ccc;
	position:absolute;
	right:5px;
}

.sgray > li > a .bubble-top {
	position:absolute;
	font-size:11px;
	line-height:14px;
	color:#fff;
	padding:0 3px;
	right:4px;
	top:-8px;
	text-shadow:none;
	border:1px solid #a00000;
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	background-color: #df0a0a;
	background-image: -webkit-linear-gradient(top, #f26870, #ec0e23);
	background-image: -moz-linear-gradient(top, #f26870, #ec0e23);
	background-image: -o-linear-gradient(top, #f26870, #ec0e23);
	background-image: -ms-linear-gradient(top, #f26870, #ec0e23);
	background-image: linear-gradient(top, #f26870, #ec0e23);
	
	-webkit-box-shadow:inset 0 1px #ffa7a7;
	-moz-box-shadow:inset 0 1px #ffa7a7;
	box-shadow:inset 0 1px #ffa7a7;
}

/* sub elementmenu ------------------------------ */

.sgray ul {
	background-color:#fff;
	border:1px solid #b3b3b3;
	border-top:none;
	left:-1px;
	-webkit-box-shadow:0 2px 1px #ddd;
	-moz-box-shadow:0 2px 1px #ddd;
	box-shadow:0 2px 1px #ddd;
}
.sgray > li.floatr > ul {right:-1px;left:auto;}
.sgray > li.floatr > ul ul {left:-127px;}
.sgray ul a {
	color:#666;
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	padding:5px 10px;
	border-top:1px solid #e4e4e4;
}
.sgray ul a:hover {
	background-color:#f5f5f5;
}
.sgray ul ul li:first-child a {border-top-color:#b3b3b3;}

/* mega elementmenu ----------------------------- */

.sgray li > div {
	background-color:#fff;
	border:1px solid #b3b3b3;
	border-top:none;
	left:-1px;
	-webkit-box-shadow:0 2px 1px #ddd;
	-moz-box-shadow:0 2px 1px #ddd;
	box-shadow:0 2px 1px #ddd;
	padding:4px;
}
.sgray > li.floatr > div {right:-1px;left:auto;}
.sgray h4, .sgray h5 {margin:0;padding:0;}
.sgray h4 {
	font-size:15px;
	color:#888;
	font-weight:normal;
	margin:10px 10px 5px;
	padding-bottom:10px;
	border-bottom:1px solid #e1e1e1;
}
.sgray h5 {
	font-size:14px;
	color:#444;
	font-weight:bold;
	margin:10px 10px 0;
}
.sgray ol {
	list-style:none;
	margin:7px 10px;
	padding:0;
}

.sgray ol a {
	color:#777;
	font-size:12px;
	padding:3px 0;
}
.sgray ol a:hover {
	color:#444;
}
.sgray p {
	color:#555;
	font-size:12px;
	line-height:18px;
	margin:9px 10px;
	padding:0;
}
.sgray p a {
	color:#888;
	text-decoration:underline;
}
.sgray p a:hover {
	color:#555;
}


/* -----------------------------------------------------------------------
Tooltip
----------------------------------------------------------------------- */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

/* -----------------------------------------------------------------------
Form Styles
----------------------------------------------------------------------- */

address {
  display: block;
  margin-bottom: 18px;
  font-style: normal;
  line-height: 18px;
}

small {
  font-size: 100%;
}

cite {
  font-style: normal;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 18px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

form {
  margin: 0 0 18px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 13.5px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

.dd-option-text, .dd-selected-text, li, dd{
	margin-bottom: 0px;
}

.dd-selected [class^="icon-"], .dd-selected [class*=" icon-"], .dd-option [class^="icon-"], .dd-option [class*=" icon-"] {
	margin-right: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 30px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

input,
textarea {
  width: 100%;
}

textarea {
  height: 200px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}

select {
  width: 220px;
  border: 1px solid #bbb;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 930px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 850px;
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 770px;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 690px;
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 610px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 530px;
}

input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 450px;
}

input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 370px;
}

input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 290px;
}

input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 210px;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 130px;
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 50px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #ddd;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}

.control-group.warning .checkbox:focus,
.control-group.warning .radio:focus,
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: 0 0 6px #dbc59e;
     -moz-box-shadow: 0 0 6px #dbc59e;
          box-shadow: 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}

.control-group.error .checkbox:focus,
.control-group.error .radio:focus,
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
     -moz-box-shadow: 0 0 6px #d59392;
          box-shadow: 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}

.control-group.success .checkbox:focus,
.control-group.success .radio:focus,
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: 0 0 6px #7aba7b;
     -moz-box-shadow: 0 0 6px #7aba7b;
          box-shadow: 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  content: "";
}

.form-actions:after {
  clear: both;
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

:-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

.help-block,
.help-inline {
  color: #555555;
}

.help-block {
  display: block;
  margin-bottom: 9px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.input-prepend,
.input-append {
  margin-bottom: 5px;
}

.input-prepend input,
.input-append input,
.input-prepend select,
.input-append select,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: middle;
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.input-prepend input:focus,
.input-append input:focus,
.input-prepend select:focus,
.input-append select:focus,
.input-prepend .uneditable-input:focus,
.input-append .uneditable-input:focus {
  z-index: 2;
}

.input-prepend .uneditable-input,
.input-append .uneditable-input {
  border-left-color: #ccc;
}

.input-prepend .add-on,
.input-append .add-on {
  display: inline-block;
  width: auto;
  height: 18px;
  min-width: 16px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input-prepend .add-on,
.input-append .add-on,
.input-prepend .btn,
.input-append .btn {
  margin-left: -1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend .active,
.input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.input-append .uneditable-input {
  border-right-color: #ccc;
  border-left-color: #eee;
}

.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *zoom: 1;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-search label,
.form-inline label {
  display: inline-block;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

.control-group {
  margin-bottom: 9px;
}

legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 160px;
}

.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}

.form-horizontal .form-actions {
  padding-left: 160px;
}

/* -----------------------------------------------------------------------
Time Picker
----------------------------------------------------------------------- */

.ui-timepicker-div .ui-widget-header { 
	margin-bottom: 8px; 
}
.ui-timepicker-div dl { 
	text-align: left; 
}
.ui-timepicker-div dl dt { 
	height: 25px; margin-bottom: -25px; 
}
.ui-timepicker-div dl dd { 
	margin: 0 10px 10px 65px; 
}
.ui-timepicker-div td { 
	font-size: 90%; 
}
.ui-tpicker-grid-label { 
	background: none; 
	border: none; 
	margin: 0; 
	padding: 0; 
}

/* -----------------------------------------------------------------------
BootStrap Dropdowns
----------------------------------------------------------------------- */

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

/* -----------------------------------------------------------------------
Icons
----------------------------------------------------------------------- */

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}

.icon-white {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

