[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
