[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/lessphp"]
	path = lib/lessphp
	url = https://github.com/leafo/lessphp.git
[submodule "lib/jquery-validate"]
	path = lib/jquery-validate
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "lib/fitvid"]
	path = lib/fitvid
	url = https://github.com/davatron5000/FitVids.js.git
[submodule "lib/simplehtmldom"]
	path = lib/simplehtmldom
	url = https://github.com/jjanyan/Simple-HTML-DOM.git
[submodule "lib/farbtastic"]
	path = lib/farbtastic
	url = https://github.com/mattfarina/farbtastic.git
[submodule "lib/waypoints"]
	path = lib/waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "lib/toastr"]
	path = lib/toastr
	url = https://github.com/CodeSeven/toastr.git
